body {
  margin: 0;
  padding: 0 80px;
  font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  background-color: rgb(242, 242, 242);
}

p, h1, h2, button {
  font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
  /* color: #8F23E4; */
}

/* ------------------------ NAVBAR */

div.nav-bar {
  border-bottom: solid rgb(211, 211, 211) 1px;
  padding: 20px 80px;
  margin: 0 -80px;
  text-align: center;
  font-size: 14px;
  color: #8F23E4;
  background-color: white;
}

div.nav-bar img {
  width: 300px;
}

#new-place-button {
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 6px 10px;
  text-decoration: none;
  background-color: #8F23E4;
  color: white;
  border-radius: 4px;
}

#new-place-button:hover {
  background-color: #7116B6;
}

#nav-logout {
  float: right;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #8F23E4;
  cursor: pointer;
}

/* ---------------------------------- FORMS */

.new-place-form {
  padding: 30px 40px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 2px 2px 6px rgb(202, 201, 201);
  border-radius: 6px;
  background-color: white;
}

.new-place-form input, textarea {
  padding: 6px;
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgb(196, 196, 196);
  resize: none;
  font-family: inherit;
}

.page-title {
  color: #8F23E4;
  margin: 0;
  padding-bottom: 20px;
  font-size: 18px;
}